.wrapper {
    display: inline-block;
    padding-bottom: 18px;
    margin-bottom: 11px;
}

.btn {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    padding: 15px 40px;
    border: 1px solid var(--colors-t-first);
    border-radius: var(--border-main);
    opacity: 1;
}

.btn.active {
    opacity: 0;
}