@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@500;600;700&family=Roboto&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Typography */
  --family: 'Montserrat', sans-serif;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-bg: 20px;

  /* radius */
  --border-header: 7px;
  --border-main: 5px;

  /* Colors */
  --colors-bg: rgba(255, 255, 255, 1);
  --colors-t-main: rgba(37, 43, 66, 1);
  --colors-t-first: rgba(255, 104, 91, 1);
  --colors-t-second: rgba(115, 115, 115, 1);
  --colors-t-third: rgba(255, 255, 255, 1);

  /* Icons */
  --colors-icon: rgba(231, 64, 64, 1);

  /* Padding */
  --mobile-gap: 10px;
  --desktop-gap: 70px;
}

body {
  font-family: var(--family);
  background-color: var(--colors-bg);
  font-weight: var(--fw-bold);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: var(--colors-t-first);
}

button {
  cursor: pointer;
}

button:hover {
  outline: none;
  box-shadow: 0px 13px 19px rgba(115, 115, 115, 0.4);
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

button:active {
  color: var(--colors-t-first);
}

.active {
  color: var(--colors-t-first);
  cursor: default;
}